{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".svelte"],
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["prettier","import","@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:svelte/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      // Parse the `<script>` in `.svelte` as TypeScript by adding the following configuration.
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "rules": {}
}
